akka.actor.deployment {
    /tasker {
        router = consistent-hashing-group
        routees.paths = ["/user/api"]
        virtual-nodes-factor = 128
        cluster {
            enabled = on
            allow-local-routees = off
            use-role = tracker
        }
    }                
}